<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Avanti\SejaUmFornecedor\Block\ContactForm $block */

$layoutId = $block->getMessageBlock();
$blockMesage =  $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($layoutId)->toHtml();

if (!empty($blockMesage)) {
    echo $blockMesage;
}
?>

<form class="form fornecedores-contact"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="fornecedores-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'
      enctype="multipart/form-data">
    <div class="fieldset">
        <div class="field name required">
            <div class="control">
                <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" class="input-text" type="text" placeholder="Nome*" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field taxvat required">
            <div class="control">
                <input name="taxvat" id="taxvat" title="<?= $block->escapeHtmlAttr(__('CPF/CNPJ')) ?>" class="input-text" type="text" placeholder="CPF/CNPJ*" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field email required">
            <div class="control">
                <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" type="email" placeholder="E-mail*" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field telephone">
            <div class="control">
                <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" class="input-text" type="text" placeholder="Telefone fixo*"/>
            </div>
        </div>
        <div class="field celphone">
            <div class="control">
                <input name="celphone" id="celphone" title="<?= $block->escapeHtmlAttr(__('Celphone Number')) ?>" class="input-text" type="text" placeholder="Telefone celular*"/>
            </div>
        </div>
        <div class="field city">
            <div class="control">
                <input name="city" id="city" title="<?= $block->escapeHtmlAttr(__('City')) ?>" class="input-text" type="text" placeholder="Cidade*"/>
            </div>
        </div>
        <div class="field subject required">
            <div class="control">
                <input name="subject" id="subject" title="<?= $block->escapeHtmlAttr(__('Subject')) ?>" class="input-text" type="text" placeholder="Assunto*"/>
            </div>
        </div>
        <div class="field tipo_fornecedor required">
            <div class="control">
                <select name="tipo_fornecedor">
                    <option id="">Tipo do Fornecedor</option>
                    <option id="material_revenda">Material Revenda</option>
                    <option id="material_consumo">Material Consumo</option>
                    <option id="servico">Serviço</option>
                </select>
            </div>
        </div>
        <div class="field file-upload">
            <label class="label" for="file-upload"><span></span><?= $block->escapeHtml(__('Upload a File')) ?></span></label>
            <div class="control">
                <input type="file" name="upload_file" id="upload_file">
            </div>
        </div>
    </div>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
    </div>
</form>
