<!--@subject {{var data.subject}}  @-->
<table class="message-details">
    <tr>
        <td><strong>{{trans "Name"}}</strong></td>
        <td>{{var data.name}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "CPF/CNPJ"}}</strong></td>
        <td>{{var data.taxvat}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Email"}}</strong></td>
        <td>{{var data.email}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Telehpone"}}</strong></td>
        <td>{{var data.telephone}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "CelPhone"}}</strong></td>
        <td>{{var data.celphone}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "City"}}</strong></td>
        <td>{{var data.city}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Subject"}}</strong></td>
        <td>{{var data.subject}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Tipo Fornecedor"}}</strong></td>
        <td>{{var data.tipo_fornecedor}}</td>
    </tr>
</table>
